@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Auction</title>
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <header id="_layoutHeader" class="container-fluid d-flex align-items-stretch justify-content-between">
        <div class="d-flex align-items-center">
            <a class="navbar-brand nav-item">
                <i class="fas fa-hand-holding-usd"></i>
                Ankandi
            </a>
        </div>
        <div id="searchWrapper" class="d-flex align-items-center">
            <form class="w-100 input-group">
                <input name="item" class="form-control" placeholder="Search items..." />
                <a class="input-group-append input-group-text border-0">
                    <i class="fas fa-search"></i>
                </a>
            </form>
        </div>
        @{
            if (User.Identity.IsAuthenticated)
            {
                <div class="d-flex align-items-center ml-1">
                    <a class="d-flex align-items-center" role="button" id="dropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-circle fa-2x mr-2"></i>
                        @User.Identity.Name
                    </a>

                    <div class="dropdown-menu bg-dark" aria-labelledby="dropdownProfile">
                        <a asp-area="@User.Claims.FirstOrDefault(claim => claim.Type == ClaimTypes.Role)?.Value" asp-controller="Home" asp-action="Index" class="dropdown-item">Home</a>
                        <a asp-area="" asp-controller="Home" asp-action="Privacy" class="dropdown-item" >Privacy</a>
                        <a asp-area="" asp-controller="Home" asp-action="Logout" class="dropdown-item">Logout</a>
                    </div>
                </div>
            }
            else
            {
                <div class="d-flex align-items-center ml-1">
                    <a class="d-flex align-items-center" href="#" role="button" id="dropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-circle fa-2x mr-2"></i>
                        Profile
                    </a>

                    <div class="dropdown-menu bg-dark" aria-labelledby="dropdownProfile">
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </div>
                </div>
            }
        }
    </header>
    <main>
        @RenderBody()
    </main>
    @RenderSection("Scripts", required: false)
</body>
</html>
