@model IEnumerable<Event>
@{
    ViewData["Title"] = "Index";
}
<style>
    .aboveList a {
        background-color: #242424;
        color: #ffffff;
    }

        .aboveList a:hover {
            background-color: #090c08;
        }

    tbody tr:hover {
        box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
    }

    #eventsTable th {
        position: sticky;
        top: 0;
    }

    .create-modal-btn, .edit-modal-btn, .delete-btn {
        cursor: pointer;
    }

        .edit-modal-btn:hover, .delete-btn:hover {
            background-color: rgba(0,0,0,0.2);
        }

    #eventsTable td, #eventsTable th {
        text-align: center;
        vertical-align: middle;
        font-family: Calibri;
        padding: 0;
        min-height: 50px;
    }

    .crud-div {
        min-height: 50px;
    }

        .crud-div a:hover {
            color: #007bff;
        }
</style>
<div class="h-100 w-100">
    <div class="aboveList d-flex container-fluid py-5 justify-content-between">
        <a class="badge-pill text-decoration-none py-2 create-modal-btn">
            Create a new item
        </a>
        <a asp-controller="Home" asp-action="Index" class="badge-pill text-decoration-none py-2">
            Back to admin page
        </a>
    </div>
    <div>
        <table id="eventsTable" class="table">
            <thead class="thead-dark">
                <tr>
                    <th>@Html.DisplayNameFor(m => m.Id)</th>
                    <th>@Html.DisplayNameFor(m => m.AuctionId)</th>
                    <th>@Html.DisplayNameFor(m => m.ItemId)</th>
                    <th>@Html.DisplayNameFor(m => m.CurrentPrice)</th>
                    <th><div class="crud-div"></div></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(m => item.Id)</td>
                            <td>@Html.DisplayFor(m => item.AuctionId)</td>
                            <td>@Html.DisplayFor(m => item.ItemId)</td>
                            <td>@Html.DisplayFor(m => item.CurrentPrice)</td>
                            <td>
                                <div class="crud-div d-flex align-items-stretch w-100 justify-content-center">
                                    <div class="w-100 d-flex align-items-center justify-content-center edit-modal-btn" data-id="@item.Id">
                                        <a class="text-decoration-none">Edit</a>
                                    </div>
                                    <div class="w-100 d-flex align-items-center justify-content-center delete-btn" data-id="@item.Id">
                                        <a class="text-decoration-none">Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <!--Div container for Modals-->
    <div>
        <!--Div container for Create Modal-->
        <div>
            <!-- Modal -->
            <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Create a new event</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <partial name="EventPartial/_EventCreateForm" model="@(new Event()
                                                                               {

                                                                               })" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Div container for Edit Modal-->
        <div>
            <!-- Modal -->
            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit an event</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!--Modal Body will be added here when clicked on the edit button-->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/Admin/Event/index.js"></script>