@using System.Collections
@model Dictionary<string, object>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = "Index";
}
<style>
    /* box-shadow */
    .customList ol.gradient-list > li, ol.gradient-list > li::before {
        box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
    }

    /*** STYLE ***/

    .customList ol.gradient-list {
        counter-reset: gradient-counter;
        list-style: none;
        padding-left: 0;
        margin: 0;
        box-shadow: inset 5px 1px 10px black;
    }

        .customList ol.gradient-list > li {
            background: linear-gradient(135deg, #29274C 0%, #7e52a0 100%);
            border-radius: 0 0 0 0.5rem;
            counter-increment: gradient-counter;
            margin-top: 1rem;
            position: relative;
            color: #ffffff;
            white-space: nowrap;
            box-shadow: inset 5px 0px 10px black;
            margin-top: auto;
            margin-bottom: auto;
        }

            .customList ol.gradient-list > li::before, ol.gradient-list > li::after {
                background: linear-gradient(135deg, #7e52a0 0%, #29274C 100%);
                border-radius: 1rem 1rem 0 1rem;
                content: '';
                height: 3rem;
                left: -1rem;
                overflow: hidden;
                position: absolute;
                top: -1rem;
                width: 3rem;
            }

            .customList ol.gradient-list > li::before {
                align-items: flex-end;
                content: counter(gradient-counter);
                color: #1d1f20;
                display: flex;
                font: 900 1.5em/1 'Montserrat';
                justify-content: flex-end;
                padding: 0.125em 0.25em;
                z-index: 1;
            }

            .customList ol.gradient-list > li:nth-child(10n+1):before {
                background: linear-gradient(135deg, rgba(150, 127, 115, 0.2) 0%, rgba(76, 64, 57, 0.2) 100%);
            }


            .customList ol.gradient-list > li + li {
                margin-top: 2rem;
            }

    .customList ol a {
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-family: 'Raleway', sans-serif;
        text-decoration: none;
        display: flex;
        width: 100%;
        height: 100%;
        min-height: 50px;
        min-width: 250px;
        text-decoration: none;
        cursor: pointer;
    }

        .customList ol a:hover {
            color: #ffff;
            text-decoration: none;
            text-shadow: 1px 1px 3px rgb(71, 50, 36);
        }

    .customList ol li:hover {
        color: #ffffff;
        background: linear-gradient(135deg, rgba(41, 31, 15, 0) 10%,rgba(71, 50, 36, 0.8) 100% );
    }

    .customList ol li a:hover {
        overflow: visible;
    }

    .customList ol li {
        overflow: visible;
    }

    .customList .listContainer {
        box-shadow: inset 0 0 1em black;
        width: 20%;
    }

    #bidsTable th, #withdrawsTable th {
        position: sticky;
        top: 0;
    }
    #bidsTable th, #withdrawsTable th, #bidsTable td, #withdrawsTable td {
        text-align: center;
    }
        #bidsWrapper, #withdrawsWrapper {
            max-height: 75vh;
            min-height: 115px;
            overflow-y: auto;
        }
</style>

<div class="h-100 d-flex flex-row">
    <div class="w-100 h-100">
        <div class="d-flex align-items-stretch h-100 p-4">
            <div class="flex-fill mr-2">
                <h4 class="text-center">@Localizer["bidHistory"]</h4>
                <div id="bidsWrapper">
                    <table id="bidsTable" class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>@Localizer["user"]</th>
                                <th>@Localizer["date"]</th>
                                <th>@Localizer["amount"]</th>
                                <th>@Localizer["event"]</th>
                            </tr>
                        </thead>
                        <tbody>
                        @{
                            foreach (var item in (IEnumerable<Bids>)Model["bids"])
                            {
                                <tr>
                                    <td>@item.UserId</td>
                                    <td>@item.BidDate</td>
                                    <td>@decimal.Truncate(item.BidAmount) €</td>
                                    <td>@item.EventId</td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="flex-fill ml-2">
                <h4 class="text-center">@Localizer["withdrawHistory"]</h4>
                <div id="withdrawsWrapper">
                    <table id="withdrawsTable" class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th>@Localizer["user"]</th>
                            <th>@Localizer["date"]</th>
                            <th>@Localizer["amount"]</th>
                            <th>@Localizer["event"]</th>
                        </tr>
                        </thead>
                        <tbody>
                        @{
                            foreach (var item in (IEnumerable<Withdrawals>)Model["withdrawals"])
                            {
                                <tr>
                                    <td>@item.UserId</td>
                                    <td>@item.WithdrawDate</td>
                                    <td>@decimal.Truncate(item.WithdrawAmount) €</td>
                                    <td>@item.EventId</td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-dark h-100 listContainer customList">
        <ol class="gradient-list customList d-flex flex-column h-100">
            <li><a asp-controller="Auction" asp-action="Index">@Localizer["auction"]</a></li>
            <li><a asp-controller="Event" asp-action="Index">@Localizer["event"]</a></li>
            <li><a asp-controller="Item" asp-action="Index">@Localizer["item"]</a></li>
        </ol>
    </div>
</div>