@model IEnumerable<AuctionData>
@{
    ViewData["Title"] = "Index";
}
<style>
    .aboveList a {
        background-color: #242424;
        color: #ffffff;
    }

    .aboveList a:hover {
        background-color: #090c08;
    }

    tbody tr:hover {
        box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
    }

    #auctionsTable td, #auctionsTable th {
        text-align: center;
        vertical-align: middle;
        font-family: Calibri;
        padding: 0;
    }

    #auctionsTable tr {
        height: 50px;
    }

    #auctionsTable th {
        position: sticky;
        top: 0;
    }

    #auctionsTable a, a.create-modal-btn {
        cursor: pointer;
    }

</style>
<div class="h-100 w-100">
    <div class="aboveList d-flex container-fluid py-5 justify-content-between">
        <a class="badge-pill text-decoration-none py-2 create-modal-btn">
            Create a new auction
        </a>
        <a asp-controller="Home" asp-action="Index" class="badge-pill text-decoration-none py-2">
            Back to admin page
        </a>
    </div>
    <div>
        <table id="auctionsTable" class="table">
            <thead class="thead-dark">
                <tr>
                    <th>@Html.DisplayNameFor(m => m.Id)</th>
                    <th>@Html.DisplayNameFor(m => m.StartDate)</th>
                    <th>@Html.DisplayNameFor(m => m.EndDate)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(m => item.Id)</td>
                            <td>@Html.DisplayFor(m => item.StartDate)</td>
                            <td>@Html.DisplayFor(m => item.EndDate)</td>
                            <td class="">
                                <a data-id="@item.Id" class="text-decoration-none edit-modal-btn">Edit</a>
                                <a asp-action="Delete" class="text-decoration-none m-0">Delete</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <!--Div container for Modals-->
    <div>
        <!--Div container for Create Modal-->
        <div>
            <!-- Modal -->
            <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Create a new auction</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <partial name="AuctionDataPartial/_AuctionDataCreateForm" model="@(new AuctionData()
                              {
                                  StartDate = DateTime.Now,
                                  EndDate = DateTime.Now.AddDays(1)
                              })" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Div container for Edit Modal-->
        <div>
            <!-- Modal -->
            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit an auction</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!--Modal Body will be added here when clicked on the edit button-->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Admin/AuctionData/create.js"></script>