@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@model IEnumerable<Auctions>
@{
    ViewData["Title"] = "Auction CRUD";
}
<style>
    .create-modal-btn {
        border-radius: 0px 20px 20px 0px;
    }

    #backToHome-btn {
        border-radius: 20px 0px 0px 20px;
    }

    tbody tr:hover {
        box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
    }

    #auctionsTable th {
        position: sticky;
        top: 0;
    }

    .create-modal-btn, .edit-modal-btn, .delete-btn {
        cursor: pointer;
    }

        .edit-modal-btn:hover, .delete-btn:hover {
            background-color: rgba(0,0,0,0.2);
        }

    #auctionsTable td, #auctionsTable th {
        text-align: center;
        vertical-align: middle;
        font-family: Calibri;
        padding: 0;
        min-height: 50px;
    }

    .crud-div {
        min-height: 50px;
    }

        .crud-div a:hover {
            color: #007bff;
        }
</style>
<link rel="stylesheet" href="~/css/Admin/backgroundHeader.css" />
<div class="h-100 w-100">
    <div class="aboveList d-flex py-5 justify-content-between">
        <a class="badge-pill text-decoration-none py-2 pr-3 create-modal-btn">
            @Localizer["createNewBtn"]
        </a>
        <a class="badge-pill text-decoration-none py-2 px-3" data-toggle="modal" data-target="#activeAuctionModal">
            @Localizer["activeAuction"]
        </a>
        <a asp-controller="Home" asp-action="Index" class="badge-pill text-decoration-none py-2 pl-3" id="backToHome-btn">
            @Localizer["backToHome"]
        </a>
    </div>
    <div>
        <table id="auctionsTable" class="table">
            <thead class="thead-dark">
                <tr>
                    <th>@Html.DisplayNameFor(m => m.Id)</th>
                    <th>@Html.DisplayNameFor(m => m.StartDate)</th>
                    <th>@Html.DisplayNameFor(m => m.EndDate)</th>
                    <th><div class="crud-div"></div></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(m => item.Id)</td>
                            <td>@Html.DisplayFor(m => item.StartDate)</td>
                            <td>@Html.DisplayFor(m => item.EndDate)</td>
                            <td>
                                <div class="crud-div d-flex align-items-stretch w-100 justify-content-center">
                                    <div class="w-100 d-flex align-items-center justify-content-center edit-modal-btn" data-id="@item.Id">
                                        <a class="text-decoration-none">@Localizer["edit"]</a>
                                    </div>
                                    <div class="w-100 d-flex align-items-center justify-content-center delete-btn" data-id="@item.Id">
                                        <a class="text-decoration-none">@Localizer["delete"]</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <!--Div container for Modals-->
    <div>
        <!--Div container for Create Modal-->
        <div>
            <!-- Modal -->
            <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">@Localizer["modalHeaderCreate"]</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <partial name="AuctionDataPartial/_AuctionDataCreateForm" model="@(new Auctions()
                              {
                                  StartDate = DateTime.Now,
                                  EndDate = DateTime.Now.AddDays(1)
                              })" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["close"]</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Div container for Edit Modal-->
        <div>
            <!-- Modal -->
            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">@Localizer["modalHeaderEdit"]</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!--Modal Body will be added here when clicked on the edit button-->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["close"]</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Div container for Active Auction Modal-->
        <div>
            <!-- Modal -->
            <div class="modal fade" id="activeAuctionModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">@Localizer["modalActiveAuction"]</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            @{
                                if (ViewBag.Auctions == null)
                                {
                                                        <h5><i class="fas fa-info-circle text-info"></i> @Localizer["noAuctionsActive1"]<strong> @Localizer["noAuctionsActive2"]</strong> @Localizer["noAuctionsActive3"]</h5>
                                }
                                else
                                {
                                    <!--Active Auction Info-->
                                    <div class="form-group row">
                                        <div class="col">
                                            <h6>@Localizer["currentActiveAuction"]</h6>
                                            <p>
                                                Id: @ViewBag.ActiveAuction.Id<br />
                                                @Localizer["date"]: @ViewBag.ActiveAuction.StartDate - @ViewBag.ActiveAuction.EndDate
                                            </p>
                                        </div>
                                    </div>
                                    <!--Open/Close Current Active Auction-->
                                    <hr />
                                    <div class="form-group row">
                                        <div class="col">
                                            <label><i class="fas fa-info-circle text-info"></i> @Localizer["hereOpenClose"]</label>
                                            <div class="row row-cols-2 justify-content-around">
                                                <div class="col col-auto">
                                                    <a class="btn btn-primary" id="open">@Localizer["open"]</a>
                                                    <br />
                                                    <label id="openResult"></label>
                                                </div>
                                                <div class="col col-auto">
                                                    <a class="btn btn-danger" id="close">@Localizer["close"]</a>
                                                    <br />
                                                    <label id="closeResult"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Change Current Active Auction-->
                                    <hr />
                                    <div class="form-group row">
                                        <div class="col">
                                            <label><i class="fas fa-info-circle text-warning"></i> @Localizer["hereChangeActive"]</label>
                                            <br />
                                            <form asp-action="SetActive" method="post" class="row row-cols-3 justify-content-around">
                                                <div class="col col-auto align-items-center">
                                                    <label class="form-control-plaintext">@Localizer["changeActiveById"] </label>
                                                </div>
                                                <div class="col col-auto">
                                                    <select name="id" class="form-control dropdown"
                                                            asp-items="@(new SelectList(ViewBag.Auctions, "Id", "Id"))">
                                                        <option value="0" selected disabled hidden>@Localizer["chooseActive"]</option>
                                                    </select>
                                                </div>
                                                <div class="col col-auto">
                                                    <button type="submit" class="btn btn-primary">@Localizer["saveActive"]</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["close"]</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Admin/AuctionData/index.js"></script>